/* partoedi.css */

/* Base style for partition */
.p-e-partition {
}

/* Extended style for primary partition */
.p-e-primary {
}

/* Extended style for extended partition */
.p-e-extended {
}

/* Style for disk */
.p-e-disk {
  width: 0px;
  height: 80px;
  border: #000 solid 4px;
  border-radius: 5px;
  background-color: #dff;
}

.p-e-disk-selected {
  color: #ff0000;
}

/* Style for disk container */
.p-e-disk-container {
  padding : 10px;
  background-color : #e0e0e0;       
  border-style : solid;
  border-width : 2;
  border-radius: 10px;
}

/* Style for disk title */
.p-e-disk-title {
  text-align : left;
  font-color : #00000;
  font-size : 10px;
  font-weight : bold;
  margin-bottom : 10;
}
